<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css1/text2text.css" />
    <style>
      body {
        font-family: Lucida Console;
        background: rgb(62, 81, 81);
        background: linear-gradient(
          90deg,
          rgba(62, 81, 81, 1) 0%,
          rgba(254, 245, 234, 1) 80%,
          rgba(222, 203, 164, 1) 100%
        );
      }
      .form-control::placeholder {
        color: rgb(44, 30, 30);
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <img src="/static/images/logo.png" alt="Braille Logo" />
        <ul>
          <li> <a href="/"><u>Home</u></a></li>
          <li><a href="#learnbraille"><u>Learn Braille</u></a></li>
          <li><a href="#about"><u>About</u></a></li>
        </ul>
      </nav>
    </header>

    <div id="learnbraille" style="margin-bottom: 60px">
      <h1 style="text-align: center; margin-top: 20px">
        <u style="text-transform: uppercase; padding: 9px; font-size: 50px"
          >Learn Braille</u
        >
      </h1>
      <div>
        <div style="margin: 10px; padding: 20px;">
          <div
            style="
              margin-top: 20px;
              font-size: larger;
              padding-left: 10px;
              background-color: white;
              border: 2px solid black;
            "
          >

          <span style="font-weight: bold; color: black">Braille:</span><br />
          Braille es un modo de comunicación esencial para las personas con discapacidad visual. Braille es un código. Es un sistema de lectura y escritura de un idioma específico sin el uso de la vista. Braille permite a las personas ciegas y con discapacidad visual leer mediante el tacto. Para muchos idiomas, incluido el inglés, existen diferentes versiones o “grados” de braille. Braille es una herramienta importante para el avance educativo. 
          <br/><br/>
          <span style="font-weight: bold; color: black">Puntos braille:</span><br />
          Los códigos Braille se forman dentro de unidades de espacio conocidas como celdas Braille. Seis posiciones de puntos componen cada carácter braille o “celda”. Estas posiciones de puntos forman un rectángulo compuesto por 2 columnas con 3 puntos en cada columna. Se puede elevar un solo punto o cualquier combinación de puntos en cualquiera de las seis posiciones. Son posibles sesenta y tres combinaciones usando uno o más puntos, que son puntos que se pueden usar para representar un alfabeto, un número, un signo numérico, un signo de puntuación o incluso una palabra completa.
          <br/>
          <div style="text-align: center;"><img src="/static/images/sixdot.jpg" alt="Braille Dot" style="width: 180px; height: 120px;"/></div>
          <br/><br/>
          <span style="font-weight: bold; color: black">Dimension of Braille Cell:</span><br />
          <ul>
            <li><b><u>Altura del punto:</u></b> aprox. 0,02 pulgadas (0,5 mm)</li>
            <li><b><u>Espaciado horizontal y vertical entre centros de puntos:</u></b> 0.1 puladas (2.5 mm)</li>
            <li><b><u>Espacio en blanco entre puntos en celdas adyacentes:</u></b>  0.15 pulgadas (4 mm) horizontalmente y 0.2 inches (5.0 mm) verticalmente</li>
          </ul>
          Una página Braille estándar mide 11 x 11,5 pulgadas y normalmente tiene un máximo de 40 a 43 celdas Braille por línea y 25 líneas.
          <br/><br/>
          <span style="font-weight: bold; color: black">diferentes grados de Braille:</span><br />
          <div>
            <li><b><u>Grade 1 Braille:</u></b></li>
            El Braille de grado 1 es una transcripción directa letra por letra de su equivalente en texto impreso. Este código es ideal para principiantes, ya que permite a las personas familiarizarse con el sistema y reconocer diferentes aspectos del código mientras aprenden a leer Braille. El Braille en inglés de grado 1 incluye las 26 letras estándar del alfabeto, así como los signos de puntuación.
            <br/><div style="text-align: center;"><img src="/static/images/grade1braille.jpg" alt="Grade1 Braille"  style="width: 400px; height: 280px;"/></div>
            <b>Ejemplo:</b> <u>Texto en ingles:</u> "dog and cat"      <u>Texto en braille:</u> "⠙⠕⠛  ⠁⠝⠙  ⠉⠁⠞"
            <br/><br/><li><b><u>Grade 2 Braille:</u></b></li>
            El Braille de grado 2 emplea 'contracciones' para sustituir secuencias más largas de letras por formas abreviadas de grupos de letras que aparecen con frecuencia. Estas contracciones funcionan de manera similar a las contracciones en inglés impreso, como 'cannot' que se convierte en 'can't'. Por ejemplo, en Braille de grado 2, la palabra 'the' se representa generalmente con un solo símbolo. Este tipo de Braille es el más utilizado y se encuentra en libros, señalización pública, menús de restaurantes, entre otros. Además de las 26 letras del alfabeto y los signos de puntuación, el Braille de grado 2 incluye una variedad de contracciones.
            <br/>
            <div style="text-align: center;">
              <img src="/static/images/grade2braille1.jpg" alt="Grade1 Braille"  style="width: 400px; height: 270px;"/>
              <img src="/static/images/grade2braille2.jpg" alt="Grade1 Braille"  style="width: 400px; height: 270px;"/>
            </div>
            <b>Ejemplo:</b> <u>Texto en Ingles:</u> "dog and cat"      <u>Texto en Braille:</u> "⠙⠕⠛  ⠯  ⠉⠁⠞"
          </ol>
        </div>
        </div>
      </div>
    </div>

    <div id="about" style="margin-bottom: 60px">
      <h1 style="text-align: center; margin-top: 20px">
        <u style="text-transform: uppercase; padding: 9px; font-size: 50px"
          >About</u
        >
      </h1>
      <div>
        <div style="margin: 10px; padding: 20px;">
          <div
            style="
              margin-top: 20px;
              font-size: larger;
              padding-left: 10px;
              background-color: white;
              border: 2px solid black;
            "
          >

          <span style="font-weight: bold; color: black">Caracteristicas:</span><br />
                <ul>
                  <li>Ingrese caracteres Braille y obtenga la traducción al inglés correspondiente.</li>
                  <li>Admite traducción Braille de primer grado, que incluye caracteres alfabéticos básicos.</li>
                  <li>Interfaz de usuario interactiva con un diseño limpio e intuitivo.</li>
                  <li>Traducción en tiempo real a medida que ingresa caracteres Braille.</li>
                  <li>Salida en inglés clara y concisa para una fácil comprensión.</li>
                  <li>Nuestros algoritmos avanzados de aprendizaje automático identifican e interpretan con precisión Braille
                    caracteres, asegurando resultados de conversión confiables.</li>
                </ul><br />

                <span style="font-weight: bold; color: black">Tecnologias utilizadas:</span><br />
                <ul>
                  <li>Flask: Es un framework web Python utilizado para construir la aplicación web..</li>
                  <li>Python: El lenguaje de programación utilizado para la lógica del lado del servidor y el manejo del proceso de traducción.</li>
                  <li>HTML: Se utiliza para crear la estructura y el diseño de las páginas web.</li>
                  <li>CSS: Se utiliza para diseñar las páginas web y mejorar el atractivo visual.</li>
                  <li>JavaScript: Se utiliza para implementar funcionalidad del lado del cliente y traducción en tiempo real.</li>
                  <li>Experimente la comodidad de la traducción en tiempo real mientras el convertidor analiza rápidamente la imagen cargada y proporciona el texto en inglés correspondiente.</li>
                  <li>
                    El convertidor maneja perfectamente Braille de Grado 1 (no contraído) y Grado 2 (contraído), satisfaciendo una amplia gama de necesidades de lectores de Braille.
                  </li>
                  <li>Diseñada teniendo en cuenta la usabilidad, nuestra interfaz intuitiva y visualmente atractiva facilita cargar imágenes, ver resultados e interactuar con el convertidor sin esfuerzo.</li>
                </ul><br />
                El Conversor de Imagen a Texto Braille es una aplicación web avanzada que utiliza técnicas de aprendizaje automático y visión por computadora para convertir caracteres Braille en imágenes en texto legible. Esta herramienta intuitiva permite a personas con discapacidad visual, así como a entusiastas del Braille, extraer información de imágenes con texto Braille y traducirla instantáneamente al inglés.

                El objetivo principal del proyecto es aumentar la conciencia sobre el Braille y facilitar la comunicación entre personas ciegas y videntes. Dado que no existían suficientes tecnologías para ayudar a los videntes a interactuar y comunicarse con personas ciegas, desarrollamos este sistema de conversión. Nuestro conversor puede procesar imágenes de líneas (palabras, frases o caracteres) en Braille, reconocerlas y mostrar su equivalente en inglés.
                
                Utilizando técnicas específicas de proporción y recorte, hemos logrado segmentar cada carácter Braille de una imagen de una oración o línea. Cada uno de estos caracteres se procesa en nuestro modelo y luego se ensamblan para formar una oración o palabra en inglés.
          </div>

          
        </div>
      </div>
    </div>
  </body>
</html>